{% extends 'layout.html' %}
{% load static %}
	{% block body %}
	  


	<header id="fh5co-header" role="banner">
		<div class="container text-center">
			<div id="fh5co-logo">
				<a href="{% url 'index' %}"><img src="{% static 'images/logo.jpeg' %}" alt="Qəhrəmanlar"></a>
			</div>
			<nav>
				<ul>
					
					{% for category in categories %}
					<li><a href="/articles/category/{{category.id}}">{{category.name}}</a></li>
					{% endfor %}
					<li><a href="{% url 'about' %}">Haqqımızda</a></li>
					<li>
						<form>
							{% csrf_token %} 
						   <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Ara...">
						 <button type="submit" class="btn btn-danger">Ara</button>
					   </form>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- END #fh5co-header -->
	<div class="container-fluid pt70 pb70">
		<div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">
			{% for post in posts  %}
			<div class="fh5co-project masonry-brick">
				<a href="/articles/article/{{post.id}}">
					<img src="{{ post.image.url }}" alt="Free HTML5 by FreeHTML5.co">
					<h2>{{post.name}}</h2>
				</a>
			</div>			  
			{% endfor %}
		</div>
		<!--END .fh5co-projects-feed-->
	</div>
		<!-- END .container-fluid -->
		<div class="pagination" style="margin-left: 100px;">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">Əvvəıki</a>
                {% endif %}
        
                <span class="current">
                    Səhifə {{ posts.number }} nömrə {{ posts.paginator.num_pages }}.
                </span>
        
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Növbəti</a>
                {% endif %}
            </span>
        </div>

		<!-- END .container-fluid -->
		<footer id="fh5co-footer" role="contentinfo">
			<div class="container-fluid">
				<div class="footer-content">
					<div class="copyright"><small>&copy; 2021 - 246 nömrəli məktəb-lisey kollektivi tərəfindən <br>Təşkilatçı : Mehdi Mehdizadeh</a></small></div>
					<div class="social">
						{% for sosial in sosials  %}
						<a href="{{sosial.name}}"><i class="{{sosial.klass}}"></i></a>
						{% endfor %}
					</div>
				</div>
			</div>
		</footer>
		<!-- END #fh5co-footer -->
		{% endblock body %}